<!doctype html>
<html>
<title>My Visitors</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    {% block content %}{% endblock %}
</div>
</html>
